# Ignore environment variable files
.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
.venv/
env/
venv/

# Ignore PyCharm project files
.idea/

# Ignore other unwanted files
*.log
